/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

html { 
  background: url("/assets/images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.main {
    background: transparent;
    width: 100%;
    height: 175px;
    margin: 100px auto;
    position: relative;
}

.clock {
    background-color: transparent;
    color: #292929;
    text-align: center;
    font-size: 105px;
    height: 50%;
    width: 100%;
    padding-top: 100px;
    font-family: Orbitron;
    border-radius: 4px;
    font-weight: bolder;
}

#hour {
    color: #292929;
    text-shadow: rgb(219, 212, 84) 1px 1px 2px, rgb(129, 181, 88) 1px -1px 0px, rgb(98, 140, 201) 0px 0px 5px, rgb(186, 52, 62) 0px 0px 5px;
}


#minutes {
    color: #292929;
    text-shadow: 1px 1px 2px #dbd454, 1px -1px 0px #81b558, 0 0 5px #628cc9, 0 0 5px #ba343e;
}



#seconds {
    color: #292929;
    text-shadow: 1px 1px 2px #dbd454, 1px -1px 0px #81b558, 0 0 5px #628cc9, 0 0 5px #ba343e;
}

#hour { 
	color: rgb(41, 41, 41);
	text-shadow: 1px 1px 2px #dbd454, 1px -1px 0px #81b558, 0 0 5px #628cc9, 0 0 5px #ba343e;
}


